<footer>
  <div [ngClass]="'container'">
    <div [ngClass]="'row'">
    <div [ngClass]="'col-md-8'">
      <ul>
        <li>
          <p>About Team &#8810;/&#8811; </p>
        </li>
        <li>
          <picture>
            <img src="../../../assets/amitkumar.png" alt="Amit Kumar"/>
          </picture>          
          <a href="https://www.linkedin.com/in/amitsingh84/" target="_blank">
            <span>Amit Kumar</span>
            <img src="../../../assets/linkedin.png" alt="Linkedin"/>
          </a>
        </li>
        <li>
          <picture>
            <img src="../../../assets/debrajray.png" alt="Debraj Ray"/>
          </picture>      
          <a href="https://www.linkedin.com/in/debraj-ray/" target="_blank">
            <span>Debraj Ray</span>
            <img src="../../../assets/linkedin.png" alt="Linkedin"/>
          </a>
        </li>
        <li>
          <picture> 
            <img src="../../../assets/vikasverma.png" alt="Vikas Verma"/>
          </picture>      
          <a href="https://www.linkedin.com/in/viverma1/" target="_blank">
            <span>Vikas Verma</span>
            <img src="../../../assets/linkedin.png" alt="Linkedin"/>
          </a>
        </li>
      </ul>

    </div>

    <div [ngClass]="'col-md-4 footer-text'">
      <a href="http://www.angularattack.com/entries/395-emergency-aid-assistant" target="_blank" [ngClass]="'attackimage'">
        <img src="../../../assets/angular-attack.jpg" alt="Angular Attack"/>
      </a>
      <p>Copyright © 2017 </p>
      <p>Emergency Aid Assistant </p>
    </div>
  </div>
  </div>   
</footer>
