.navbar-inverse {
    @media (min-width: 992px) {
        height: 95px;
    }
}

.navbar-toggle {
    margin-top: 20px;
}

.navbar-brand {
    //background: url(../../../assets/logo.png) no-repeat;
    text-indent: -999px;
    height: 70px;
    width: 295px;    
    overflow: hidden; 
    @media (min-width: 992px) {
        width: 500px;
        height: 92px;        
    }

    img {
        width: 100%;

        @media (min-width: 992px) {
            width: auto;
        }
    }   
}

.navbar {
    margin-bottom: 0;
}

.navbar-nav {
    > li {
        > a {
        @media (min-width: 768px) {
            padding: 27px 8px 22px 8px;
        }
          @media (min-width: 992px) {
              padding: 40px 10px 33px 10px;
          }

          &.logout {
              @media (min-width: 768px) {
                padding-top: 15px;
                padding-bottom: 10px;
              }

              @media (min-width: 992px) {
                padding-top: 33px;
                padding-bottom: 10px;
              }
                
           }
        }

        &.google-login {
            > a {
                padding-left: 60px;
            }
        }
    }
}

.google-login {
    a {
        background: url(../../../assets/gmail-icon.png) no-repeat 10px 4px;
        padding-left: 60px;
        background-size: 34px;
        
        @media (min-width: 768px) {
            background-position: 17px 20px;
        }

        @media (min-width: 992px) {
            background-size: initial;
            background-position: 10px 28px;
        }
    }
    
}

.login-image {
    width: 45px;
    height: 45px;
    display: inline-block;
    margin-right: 8px;
    overflow: hidden;
    border-radius: 50px;
    position: relative;   

    img {
        width: 100%;
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
    }
}

.logout {
    strong {
        font-weight: normal;
        position: relative;
        top: -21px;
        @media (min-width: 768px) {
            top: -15px;
        }

        @media (min-width: 992px) {
            top: -20px;
        }
         
    }
}


