.grey {
    background: #e6e6e6;
    min-height: 610px;
    @media (min-width: 768px) {
       min-height: 746px; 
    }

    @media (min-width: 992px) {
       min-height: 560px; 
    }
}

.home-container {
    float: none;
    margin: 0 auto;
    text-align: center;

    .btn-success {
        width: 332px;
        border-radius: 80px;
        -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.42);
        -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.42);
        box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.42);

        @media (min-width: 768px) {
            width: 350px;
        }
    }

    textarea {
        height: 125px;
    }
}

.jumbotron {
    padding-bottom: 0;
    h1 {
        font-size: 48px;
        text-align: center;
    }
}

.pic-link {
    padding: 44px 0;
    position: relative;
    input {
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 57px;
        opacity: 0;
        cursor: pointer;
    }

    img {
        margin-right: 10px;
    }

    p {
        cursor: pointer;
        font-size: 25px;
        color: #000;                 
    }

    
    
}


